@import "reset";
@import "fonts";
@import "colors";

@import "components/button";
@import "components/link";
@import "components/text";

body {
  padding: 100px 15%;
  font-size: 18px;
  font-family: $sans;
  font-size: 18px;
  margin: 12px;

  ::selection {
    background-color: $highlight;
  }
}