@import "../colors";

.button {
  margin: 12px;
  background-color: $light;
  border: 2px solid $dark;
  width: 180px;
  height: 36px;
  font-size: 18px;
  transition: all ease-out 0.2s;
  border-radius: 12px;

  &:hover {
    color: $light;
    background-color: $dark;
  }

  &:focus {
    outline: none;
  }
}