@import "../colors";

.button {
  margin: 6px;
  background-color: $light;
  border: 2px solid $dark;
  width: 180px;
  height: 36px;
  font-size: 18px;
  transition: all ease-out 0.2s;
  border-radius: 12px;

  &:hover {
    color: $light;
    background-color: $dark;
  }

  &:focus {
    outline: none;
  }

  &.success {
    background-color: $success;
    border: none;

    &:hover {
      color: $light;
      background-color: $dark;
    }
  }


  &.success {
    background-color: $success;
    border: none;
    color: $light;

    &:hover {
      color: $light;
      background-color: $dark;
    }
  }

  &.danger {
    background-color: $danger;
    color: $light;
    border: none;

    &:hover {
      color: $light;
      background-color: $dark;
    }
  }
}