@import "../fonts";
@import "../colors";

label {

  input,
  textarea {
    margin: 12px;
    border: none;
    border-bottom: 2px solid $dark;
    font-size: 18px;
    font-family: $serif;
    transition: all ease-out 0.2s;

    &:focus {
      outline: none;
      border-bottom: 6px solid $dark;
    }
  }

  textarea {
    margin: 12px 0;
  }
}

form {
  margin: 12px;
}