@import "../colors";

a {
  background-color: $highlight;
  font-weight: bold;
  color: $dark;
  text-decoration: none;
  border-bottom: 2px solid $dark;
  padding: 2px;
  transition: all ease-out 0.2s;

  &:hover {
    border-bottom: 6px solid $dark;
  }
}