@import "../colors";

.title {
  font-size: 60px;
  font-family: $serif;
  color: $dark;
  margin: 12px;
}

.subtitle {
  margin: 12px;
  font-size: 36px;
  color: $grey;
}

.h1 {
  font-size: 36px;
  font-family: $serif;
  color: $dark;
  margin: 12px;
}

.h2 {
  font-size: 28px;
  color: $grey;
  margin: 12px;
}

.h3 {
  font-size: 24px;
  color: $dark;
  font-weight: bold;
  margin: 12px;
}

.h3 {
  font-size: 24px;
  color: $dark;
  margin: 12px;
}

.text {
  line-height: 24px;
  margin: 12px;
}

ul {
  margin: 12px;

  li {
    line-height: 24px;
    list-style: disc;
  }
}

ol {
  margin: 12px;

  li {
    line-height: 24px;
    list-style: decimal;
  }
}